html {
    background: rgba(255,255,255,1);
}

body {
    margin: 0px;
    padding: 0px;
}

#__next {
    height: 100vh;
}

footer {
    min-height: 128px;
}

#__next {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
